
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brandBlue: #0D4B9E;
  --brandOrange: #F7931E;
  --brandGrey: #6D6E71;
  --brandLight: #E5E5E5;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.icon{
  color: #1E40AF;
  font-size: 24px;
  transition: all 0.3s ease; 
  border: 1px solid #1E40AF;
  border-radius: 50%;
  padding: 8px; 
  width: 40px;
}

.icon:hover {
  color: #F97316; 
  border-color: #F97316; 
}

.social{
  color: var(--brandOrange);
  font-size: 24px;
  transition: all 0.3s ease; 
  border: 1px solid var(--brandOrange );
  border-radius: 50%;
  padding: 8px; 
  width: 40px;
}

.social:hover {
  color: var(--brandBlue); 
  border-color: var(--brandBlue); 
}


/* Add this in index.css */
table {
  border-collapse: collapse;
}

::-webkit-scrollbar {
  height: 6px;  /* ensures visibility on mobile */
}
Aa App.css ma muki deje aa vadi css

.img-size {
  height: 500px;
  width: 500px !important;
}

@media (max-width:1024px) {
  .img-size{
     height: 500px;
    width: 1000px !important;
  }
}

@media (max-width:500px) {
  .img-size {
    height: 300px;
    width: 100vw !important;
  }
}